//-- Font size --//

$mob_font_h1: 61px;
$mob_font_h2: 65px;
$mob_font_main: 20px;
$mob_font_main_bold: 24px;
$mob_font_footer: 36px;

//-- Color --//

$color_main: #fff;
$color_svg: #585857;
$color_secondary: #191919;
$color_text: #333333;
$bg_c_red: #dc0021;
$bg_c_grey: #e2e2e2;
$bg_c_black: #191919;

//-- Paddings and Margins --//

$mobilePadding: 15px;
$mobileMargin: -15px;
